.movie_list {
  padding: 21px 32px;
  display: grid;
  grid-template-columns: repeat(2, 451px);
  gap: 36px;
}

.movie_item {
  position: relative;
  display: flex;
  width: 451px;
  height: 279px;
  background-color: #ffffff;
  list-style: none;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.movie_img {
  width: 183px;
  height: 281px;
}

.movie_title {
  margin: 0;
  font-family: Inter UI;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  vertical-align: middle;
}

.movie_text {
  width: 228px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 49px;
}

.movie_overview {
  margin: 0;
  padding: 0;
  font-family: Inter UI;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #000000;
}

.movie_releaseDate {
  margin: 0;
  padding: 0;
  font-family: Inter UI;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  vertical-align: middle;
  color: #827e7e;
}

.movie_rate {
  position: absolute;
  bottom: 0;
  height: 42px;
  margin-top: auto;
}

.movie_rate li {
  margin: 2px !important;
}

img:after {
  content: attr(alt);

  font-size: 16px;
  font-family: FontAwesome;
  color: rgb(100, 100, 100);
  text-align: center;
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 183px;
  height: 100%;
  background-color: #fff;
}

.movie_vote {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  flex-shrink: 0;
}

.movie_score {
  margin: 0;
}

.movie_header {
  display: flex;
  justify-content: space-between;
}

.genres {
  display: flex;
  list-style-type: none;
  gap: 8px;
  padding: 0;
  align-items: flex-start;
}

.genre_item {
  font-family: Inter UI;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.65);
  background-color: rgba(250, 250, 250, 1);
  border: 1px solid rgba(217, 217, 217, 1);
  width: auto;
  height: 17px;
  border-radius: 2px;
  text-align: center;
  padding-top: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

@media (max-width: 430px) {
  .movie_list {
    grid-template-columns: repeat(1, 388px);
    gap: 20px;
    padding: 10px 16px;
  }

  .movie_item {
    display: block;
    width: 388px;
    height: 245px;
    padding: 6px 10px;
  }

  .movie_img {
    float: left;
    width: 60px;
    height: 91px;
    margin-right: 13px;
  }

  .movie_text {
    width: auto;
    padding-left: 10px;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0px;
  }

  .movie_rate {
    margin-left: 135px;
  }

  img:after {
    width: 60px;
    height: 91px;
    margin-left: 10px;
    margin-top: 6px;
  }
}
